
/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, menu, nav, output,
ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

.clearfix:after {
    content: "."

display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}


/* Fonts */
@font-face {
    font-family: "Montserrat Regular";
    src: url(fonts/montserrat/Montserrat-Regular.otf);
}

@font-face {
    font-family: "Montserrat Bold";
    src: url(fonts/montserrat/Montserrat-Bold.otf);
}

@font-face {
    font-family: "Roboto Regular";
    src: url(fonts/roboto-slab/RobotoSlab-Regular.ttf);
}

/*Header*/

.main {
    width: 940px;
    margin: auto;
    overflow: hidden;
}

.logo {
    float: left;
}

.logo img {
    padding-top: 40px;
}

ul.menu {
    float: right;
}

ul.menu li {
    font-family: "Montserrat Regular", Arial, sans-serif;
    font-size: 14px;
    float: left;
    padding: 50px 40px;
    text-transform: uppercase;
}

ul li.last, .work.last {
    padding-right: 0;
    margin-right: 0;
}

a {
    text-decoration: none;
}

.menu a {
    color: darkgrey;
}

ul li a:hover {
    color: black;
}


/*Billboard*/
.fullsize {
    width: 100%;
    position: relative;
}

.bill1 {
    position: absolute;
    top: 101px;
    left: 413px;
    z-index: 1;
}

h1 {
    font-family: "Montserrat Bold", Arial, sans-serif;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 40px;
    text-transform: uppercase;
}

.description {
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 20px;
    color: #cccccc;
    text-align: center;
    padding-bottom: 60px;
}

.more {
    font-family: "Montserrat Bold", Arial, sans-serif;
    font-size: 16px;
    color: white;
    background: #7cc576;
    width: 150px;
    border-radius: 40px;
    padding: 25px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.more a, .more2 a {
    color: white;
}

/*Presentation part*/
h2 {
    font-family: "Montserrat Bold", Arial, sans-serif;
    font-size: 40px;
    color: black;
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.min {
    min-height: 54px;
}

.work {
    width: 290px;
    text-align: center;
    float: left;
    padding-right: 35px;
    padding-bottom: 100px;
}

.title {
    font-family: "Montserrat Bold", Arial, sans-serif;
    font-size: 18px;
    color: black;
    text-align: center;
    padding-bottom: 19px;
    padding-top: 40px;
    text-transform: uppercase;
}

.work p {
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 14px;
    color: #777777;
    text-align: center;
    line-height: 1.5;
}

/*2nd billboard*/
.bill2 {
    position: absolute;
    top: 81px;
    left: 519px;
    z-index: 1;
}

.relax {
    font-family: "Montserrat Bold", Arial, sans-serif;
    font-size: 40px;
    color:#ffffff;
    padding-bottom: 45px;
    text-transform: uppercase;
}

.description2 {
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 16px;
    color: #cccccc;
    padding-bottom: 40px;
    width: 500px;
}

.description3 {
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 16px;
    color: #cccccc;
    width: 300px;
    padding: 7px 0 40px 40px;
}

.ampersand {
    color: #7cc576;
}

.more2 {
    font-family: "Montserrat Bold", Arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
    background: #7cc576;
    width: 150px;
    border-radius: 40px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}

.list {
    color: white;
    border: 3px solid #777777;
    border-radius: 40px;
    padding: 5px;
    float: left;
}

/*Projects block*/

.projects_container {
    width: 500px;
}

.projects {
    font-family: "Montserrat Bold", Arial, sans-serif;
    font-size: 18px;
    color: black;
    padding-bottom: 25px;
    text-transform: uppercase;
}

.projects_container p {
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 16px;
    color: #cccccc;
    padding-bottom: 25px;
    line-height: 1.5;
}

.icon {
    float: left;
    margin-right: 15px;
}

.name {
    font-family: "Montserrat Bold", Arial, sans-serif;
    font-size: 18px;
    color: black;
    padding-top: 15px;
}

.projects_container a {
    font-family: "Montserrat Bold", Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #7cc576;
}

.projects_container a:hover {
    color: #222222;
}

.ipad {
    background: url("images/ipad.jpg")right 250px no-repeat;
    background-size: 41%;
}

/* 6th block */

.six {
    padding-top: 100px;
    background-color: #f9f9f9;
    width: 100%;
}

.middle {
    vertical-align: middle;
}

.first {
    padding-left: 95px;
  }

.slice {
    vertical-align: middle;
    padding: 0 32px;
}

/* Clients */
.client {
    overflow: hidden;
}

.client img {
    padding: 0 45px;
}

.box {
    width: 640px;
    background: #f9f9f9;
    padding: 40px 30px 30px 30px;
}

.clients blockquote p {
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 22px;
    color: #777777;
}

.clients p {
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 18px;
    color: #7cc576;
    text-align: center;
    line-height: 1.5;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*Ready to talk*/
.ready {
    background-color: #7cc576;
    width: 100%;
    padding: 70px 0;
}

h3 {
    font-family: "Montserrat Bold", Arial, sans-serif;
    font-size: 38px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.contact_us {
    font-family: "Montserrat Bold", Arial, sans-serif;
    font-size: 18px;
    color: #ffffff;
    border-radius: 10px;
    border: 3px solid #ffffff;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    width: 180px;
}

.contact_us a {
    color: #ffffff;
}

/*Logos*/
.logos {
    width: 940px;
    margin: 0 auto;
}

.logo_images img {
    padding: 60px 0 60px 60px;
}

/*Footer*/
.footer {
    width: 100%;
    background-color: #222222;
    padding: 60px 0;
}

.top_footer {
    width: 940px;
    margin: 0 auto;
}

.contacts {
    float: left;
}

.address {
    width: 210px;
}

.posts {
    width: 310px;
}















































































