
/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, menu, nav, output,
ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

.clearfix:after {
    content: "."

display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}


/* Fonts */
@font-face {
    font-family: "Montserrat Regular";
    src: url(fonts/montserrat/Montserrat-Regular.otf);
}

@font-face {
    font-family: "Montserrat Bold";
    src: url(fonts/montserrat/Montserrat-Bold.otf);
}

@font-face {
    font-family: "Roboto Regular";
    src: url(fonts/roboto-slab/RobotoSlab-Regular.ttf);
}

@font-face {
    font-family: "Roboto Bold";
    src: url(fonts/roboto-slab/RobotoSlab-Bold.ttf);
}

/*Header*/

.main {
    width: 940px;
    margin: auto;
    overflow: hidden;
}

.logo {
    float: left;
}

.logo img {
    padding-top: 40px;
}

ul.menu {
    float: right;
}

ul.menu li {
    font-family: "Montserrat Regular", Arial, sans-serif;
    font-size: 14px;
    float: left;
    padding: 50px 40px;
    text-transform: uppercase;
}

ul li.last, .work.last {
    padding-right: 0;
    margin-right: 0;
}

a {
    text-decoration: none;
}

.menu a {
    color: darkgrey;
}

ul li a:hover {
    color: black;
}


/*Billboard*/
.fullsize {
    width: 100%;
    position: relative;
}

.bill1 {
    position: absolute;
    top: 101px;
    left: 30%;
    z-index: 1;
}

h1 {
    font-family: "Montserrat Bold", Arial, sans-serif;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 40px;
    text-transform: uppercase;
}

.description {
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 20px;
    color: #cccccc;
    text-align: center;
    padding-bottom: 60px;
}

.more {
    font-family: "Montserrat Bold", Arial, sans-serif;
    font-size: 16px;
    color: white;
    background: #7cc576;
    width: 150px;
    border-radius: 40px;
    padding: 25px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

.more a, .more2 a {
    color: white;
}

/*Presentation part*/
h2 {
    font-family: "Montserrat Bold", Arial, sans-serif;
    font-size: 40px;
    color: black;
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.min {
    min-height: 54px;
}

.heart {
    background: url('images/sprite.png') no-repeat -227px -227px;
    width: 52px;
    height: 48px;
    margin: 0 auto;
}

.phone {
    background: url('images/sprite.png') no-repeat 0 -227px;
    width: 40px;
    height: 52px;
    margin: 0 auto;
}

.rate {
    background: url('images/sprite.png') no-repeat -113px -227px;
    width: 54px;
    height: 42px;
    margin: 0 auto;
}

.work {
    width: 290px;
    text-align: center;
    float: left;
    padding-right: 35px;
    padding-bottom: 100px;
}

.title {
    font-family: "Montserrat Bold", Arial, sans-serif;
    font-size: 18px;
    color: black;
    text-align: center;
    padding-bottom: 19px;
    padding-top: 40px;
    text-transform: uppercase;
}

.work p {
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 14px;
    color: #777777;
    text-align: center;
    line-height: 1.5;
}

/*2nd billboard*/
.bill2 {
    position: absolute;
    top: 81px;
    left: 40%;
    z-index: 1;
}

.relax {
    font-family: "Montserrat Bold", Arial, sans-serif;
    font-size: 40px;
    color:#ffffff;
    padding-bottom: 45px;
    text-transform: uppercase;
}

.description2 {
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 16px;
    color: #cccccc;
    padding-bottom: 40px;
    width: 500px;
}

.description3 {
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 16px;
    color: #cccccc;
    width: 300px;
    padding: 7px 0 40px 40px;
}

.ampersand {
    color: #7cc576;
}

.more2 {
    font-family: "Montserrat Bold", Arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
    background: #7cc576;
    width: 150px;
    border-radius: 40px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    display: block;
}

.list {
    color: white;
    border: 3px solid #777777;
    border-radius: 40px;
    padding: 5px;
    float: left;
}

/*Projects block*/

.projects_container {
    width: 500px;
}

.projects {
    font-family: "Montserrat Bold", Arial, sans-serif;
    font-size: 18px;
    color: black;
    padding-bottom: 25px;
    text-transform: uppercase;
}

.projects_container p {
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 16px;
    color: #cccccc;
    padding-bottom: 25px;
    line-height: 1.5;
    overflow: hidden;
}

.icon {
    float: left;
    margin-right: 15px;
}

.basket {
    background: url('images/sprite.png') no-repeat -227px -113px;
    width: 73px;
    height: 72px;
}

.laptop {
    background: url('images/sprite.png') no-repeat 0 0;
    width: 73px;
    height: 73px;
}

.locked {
    background: url('images/sprite.png') no-repeat -113px 0;
    width: 73px;
    height: 73px;
}

.name {
    font-family: "Montserrat Bold", Arial, sans-serif;
    font-size: 18px;
    color: black;
    padding-top: 15px;
    overflow: hidden;
}

.projects_container a {
    font-family: "Montserrat Bold", Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #7cc576;
}

.projects_container a:hover {
    color: #222222;
}

.ipad {
    background: url("images/ipad.jpg")right 250px no-repeat;
    background-size: 41%;
}

.details {
    padding-bottom: 100px;
}

/* 6th block */

.six {
    padding-top: 100px;
    background-color: #f9f9f9;
    width: 100%;
}

.images {
    text-align: center;
}

.middle {
    width: 91px;
    height: 91px;
    display: inline-block;
}

.music {
    background: url('images/sprite.png') no-repeat -113px -113px;
}

.lines {
    background: url('images/sprite.png') no-repeat 0 -113px;
}

.star {
    background: url('images/sprite.png') no-repeat -209px 0;
}

.horizontal_line {
    background: url('images/sprite.png') no-repeat -57px -290px;
    display: inline-block;
    width: 170px;
    height: 45px;
    margin: 0 30px;
}

/* Clients */
.client {
    overflow: hidden;
}

.client img {
    padding: 0 45px;
}

.box {
    width: 640px;
    background: #f9f9f9;
    padding: 40px 30px 30px 30px;
    margin-bottom: 30px;
}

.clients blockquote p {
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 22px;
    color: #777777;
}

.clients p {
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 18px;
    color: #7cc576;
    text-align: center;
    line-height: 1.5;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*Ready to talk*/
.ready {
    background-color: #7cc576;
    width: 100%;
    padding: 70px 0;
}

h3 {
    font-family: "Montserrat Bold", Arial, sans-serif;
    font-size: 38px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.contact_us {
    font-family: "Montserrat Bold", Arial, sans-serif;
    font-size: 18px;
    color: #ffffff;
    border-radius: 10px;
    border: 3px solid #ffffff;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    width: 180px;
    display: block;
}

.contact_us a {
    color: #ffffff;
}

/*Logos*/
.logos {
    width: 940px;
    margin: 0 auto;
}

.logo_images img {
    padding: 60px 0 60px 60px;
}

/*Footer*/
.footer {
    width: 100%;
    background-color: #222222;
    padding: 60px 0;
    overflow: hidden;
}

.top_footer {
    width: 940px;
    margin: 0 auto;
}

.contacts {
    width: 310px;
    float: left;
}

.text {
    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 16px;
    color: #ececec;
    line-height: 1.5;
    padding-bottom: 10px;
}

.posts {
    width: 310px;
    float: left;
    padding-right: 20px;
}

h4 {
    font-family: "Montserrat Bold", Arial, sans-serif;
    font-size: 18px;
    color: #ffffff;
    padding-bottom: 25px;
    text-transform: uppercase;
}

.tweets {
    width: 290px;
    float: left;
}

.hashtag {
    font-family: "Montserrat Bold", Arial, sans-serif;
    font-size: 16px;
    color: #ececec;
}

.tweet_time {
    font-family: "Montserrat Regular", Arial, sans-serif;
    font-size: 12px;
    color: #ececec;
    margin-left: 30px;
    padding-bottom: 20px;
}

.fa {
    float: left;
    font-size: 17px;
}

.text-margin {
    margin-left: 30px;
    display: block;
    color: #ececec;
}

i.map {
    font-size: 28px;
}

i.mobile {
    font-size: 28px;
}

i.letter {
    font-size: 20px;
}

.bottom_footer {
    padding: 40px 0 80px 0;
    width: 940px;
    margin: 0 auto;
}

.Copyright {
    font-family: "Montserrat Regular", Arial, sans-serif;
    font-size: 14px;
    color: #555555;
    float: left;
    padding-right: 120px;
    line-height: 40px;
}

.social a {
    width: 20px;
    float: left;
    font-size: 20px;
    padding: 10px;
    color: white;
    background-color: black;
    margin-right: 10px;
    border-radius: 50px;
}

.social_icon a i {
    font-size: 20px;
}

.facebook i, .pinterest i, .google-plus i {
    margin-left: 3px;
}

.tweet:hover {
    background: #00aced;
}

.facebook:hover {
    background: #3b5998;
}

.pinterest:hover {
    background: #cb2028;
}

.google-plus:hover {
    background: #da2713;
}

















































